    ul.info {
        margin-top: 0.5em;
        margin-left: 1em;
        list-style: disc;
        ;
    }

    ul.info>li {
        padding-left: 0.5em;
    }

    #footer {
        padding-bottom: 0;
        margin-top: -2em;
    }

    span.logo {
        font-weight: bold;
    }

    .fb-comments, .fb-comments * {
        width: 100% !important;
    }

    @media (max-width:600px) {
        #main {
          padding-left: 2em;
          padding-right: 2em;
        }

        #about {
          padding: 2em 1em;
        }
    }
